header.main-header
	a(href='/').logo
		span.logo-mini
			<b>A</b> LT
		span.logo-lg
			<b>Dleveral</b> 
	nav(role='navigation').navbar.navbar-static-top
		a
			span.sr-only Toggle Navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		div.navbar-custom-menu
			ul.nav.navbar-nav
				li.dropdown.user.user-menu
					a(href='/')
						img(src='/adminlte/dist/img/user2-160x160.jpg',alt='User Image').user-image
						| logout
