header.main-header
	a(href='/').logo
		span.logo-mini
			<b>A</b> LT
		span.logo-lg
			<b>Admin</b> LT
	nav(role='navigation').navbar.navbar-static-top
		a
			span.sr-only Toggle Navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		div.navbar-custom-menu
			ul.nav.navbar-nav
				li.dropdown.messages-menu
				li.dropdown.notifications-menu
				li.dropdown.tasks-menu
				li.dropdown.user.user-menu
					a(href='/',data-toggle='dropdown').dropdown-toggle
						img(src='/adminlte/dist/img/user2-160x160.jpg',alt='User Image').user-image
						span.hidden-xs
							| Logout
					ul.dropdown-menu
						li.user-header
							img(src='/adminlte/dist/img/user2-160x160.jpg',alt='User Image').img-circle
							p
								| Alexander Pierce - Web Developer
								small
									| Member since Nov. 2012
						li.user-body
							.row
								.col-xs-4.text-center
									a(href='#')
										| Followers
								.col-xs-4.text-center
									a(href='#')
										| Sales
								.col-xs-4.text-center
									a(href='#')
										| Friends

						li.user-footer
							.pull-left
								a(href='#').btn.btn-default.btn-flat
									| Profile
							.pull-right
								a(href='#').btn.btn-default.btn-flat
									| Sign out