aside.main-sidebar
	section.sidebar
		.user-panel
			.pull-left.image
				img(src='/adminlte/dist/img/user2-160x160.jpg',alt='User Image').img-circle
			.pull-left.info
		ul.sidebar-menu
			li.header
				| Admin
			li.treeview
				a(href='#')
					span
						| Text
			li.treeview
				a(href='#')
					span
						| Text
			li.treeview
				a(href='#')
					span
						| Text
				
						